core/src/main/xsd/rpf_codes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 Copyright (c) Codice Foundation

 This is free software: you can redistribute it and/or modify it under the terms of the GNU Lesser
 General Public License as published by the Free Software Foundation, either version 3 of the
 License, or any later version.

 This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without
 even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Lesser General Public License for more details. A copy of the GNU Lesser General Public License
 is distributed along with this program and can be found at
 <http://www.gnu.org/licenses/lgpl.html>.
 -->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="rpfs">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="rpf">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="code" type="xsd:string" />
              <xsd:element name="abbreviation" type="xsd:string" />
              <xsd:element name="scaleResolution" type="xsd:string" />
              <xsd:element name="name" type="xsd:string" />
              <xsd:element name="dataType" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
